# Bytecode and cache
__pycache__/
*.pyc

# OS-specific
.DS_Store
Thumbs.db

# Python virtual environment
Number_plate/
!Number_plate/etc/
!Number_plate/Include/
!Number_plate/Lib/
Number_plate/Lib/site-packages/
Number_plate/pyvenv.cfg

# Jupyter notebook config (optional)
Number_plate/etc/jupyter/


# Image data and outputs
data/input/
data/outputs/
data/outputs/detected/
data/outputs/extracted/
data/outputs/processed/

# Logs, results, and temporary notes
*.csv
*.txt

# VS Code settings (if used)
.vscode/

